**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
bin/
obj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.bak
*.log
*.tmp
*.swp
*.pyc
*.pdb
*.zip
*.tar
*.gz
*.msi
*.exe
*.dll.config
*.cache
.DS_Store
Dockerfile*
docker-compose*
README.md
LICENSE